<div class="coverPageDiv">
    <div class="gameTitleDiv">Rotation Matrix</div>
    <div class="gameIntroDiv">Train your working memory by remembering the pattern of tiles</div>
    <button class="startBtn" onclick="startGame()">Start <i class="fa fa-arrow-right"></i></button>
    <script src="/js/home.js"></script>
</div>