tr.tableHeader {
  font-weight: bold;
  font-size: 20px;
}

#leader_board_table {
  width: 100%;
  color: white;
  margin: 5% 0 10%;
}

#leader_board_table tr {
  line-height: 30px;
}

tr.curUserRow {
  color: tomato;
}

#leader_board_div {
  width: 500px;
  border: 1px solid white;
  background-color: #260e04;
  padding: 1% 3% 3% 3%;
  height: 400px;
  margin: auto;
  margin-top: 50px;
}

#leader_board_div > h1 {
  color: white;
}
